<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/lobby.css" />
		<script src="/scripts/lobby.js" defer></script>
		<title>Lobby</title>
	</head>
	<body>
		<div class="container">
			<button id="newRoom" data-roomID="<%= newID %>">Create New Room</button>
			<input type="text" placeholder="enter room number...." />
			<button id="joinRoom">Join Existing Room</button>
		</div>
	</body>
</html>
