<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/room.css" />
		<script src="/socket.io/socket.io.js"></script>
		<script src="/scripts/room.js" defer></script>
		<title>Video Conference</title>
	</head>
	<body>
		<div class="container">
			<video id="myVideo"></video>
			<video id="theirVideo"></video>
		</div>
		<div class="signalingMessages"></div>
	</body>
</html>
